.bill-company-info {
  padding-left: 30px;
}

.bill-image {
  width: 100%;
  height: 100%;
  padding: 10px 0;
}
.pagebreak {
  page-break-before: always;
}


.bill-product-image{
  width: 70%;
  height: 70%;
}