$font-base: Arial, sans-serif;

$font-size-base: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-extra: 20px;
$line-height-base: 1.2;

//== Color and Background
$primary: #e05140;
$text-color: #575757;
$background: #eee;
$color-white: #fff;
