.header {
  background-color: $primary;
  justify-content: space-around;
  height: 60px;
}

.header-left {
  justify-content: flex-start;
  padding-left: 30px;
}

.logo {
  background-color: #f1f9ff;
  opacity: 0.3;
  font-size: $font-size-medium;
  font-weight: bold;
  padding: 15px;
}

.slogan {
  display: flex;
  flex: 6;
  justify-content: center;

  font-size: $font-size-large;
  color: #fff;
}

.header-title {
  font-size: $font-size-medium;
  color: #fff;
  font-weight: bold;
  display: flex;
}
