.ant-comment{
    position: relative;
}
.ant-comment-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 16px 0;
}
.ant-comment-content-author-name {
    color: rgba(0,0,0,0.45);
    font-size: 14px;
    -webkit-transition: color .3s;
    transition: color .3s;
}
.ant-comment-avatar {
    position: relative;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 12px;
    cursor: pointer;
}
.ant-comment-content-detail p {
    white-space: pre-wrap;
}
.ant-comment-avatar img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.ant-avatar {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    position: relative;
    display: inline-block;
    overflow: hidden;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    background: #ccc;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
}
.ant-comment-content {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 1px;
    font-size: 14px;
    word-wrap: break-word;
}
.ant-comment-content-author-time {
    white-space: nowrap;
    cursor: auto;
    margin-left: 20px;
    float: right;
    margin-right: 15px;
    font-size: 14px;
    color: #8590a6;
}
.ant-comment-content-author {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 4px;
    font-size: 14px;
}
.ant-comment-content-detail p {
    white-space: pre-wrap;
}
.invisible-scrollbar::-webkit-scrollbar {
    display: none;
    width: 10px;
  }
.visible-scrollbar::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
background-color: #F5F5F5;
}
.visible-scrollbar {
    display: block;
    width: 746px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 350px;
  }
.line{
    width: 98%;
}

.option{
    margin-left: 10px;
    transform: rotate(90deg);
    display: inline-block;
    position: relative;
}

.padding-icon{
    padding: 5px;
}

.content:hover{
    cursor: pointer;
}

.content:hover .option{
    cursor: pointer;
    opacity: 1;
}

.update-delete{
    transform: rotate(-90deg);
    position: absolute;
    background: white;
    border: 1px solid #EEE;
    box-shadow: 10px 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 10%;
    display: flex;
    left: 5px;
}

.update .fa-pencil-square-o{
    color: #12c912;
}

.delete .fa-times{
    color: red;
}

.update-delete div {
    display: flex;
}

.update-delete div:hover {
    background: #DDD;
}

.isOpen{
    opacity: 0;
}

.comment{
    display: inline;
}

.show-comment{
    overflow-wrap: break-word;
    max-width: 80%;
}